body {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1400px;
  width: 100%;
  margin: auto;
  overflow-x: hidden;
  justify-content: center;
  .text-window {
    height: 220px;
    max-width: 1035px;
    width: 100%;
    margin: 20px 0;
    font-size: 20px;
    text-align: start;
  }
  .keyboard__wrapper {
    padding: 10px;
    height: 340px;
    background-color: aliceblue;
    max-width: 1060px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    .key {
      cursor: pointer;
      font-size: 25px;
      height: 60px;
      max-width: 60px;
      width: 100%;
      align-items: center;
      background-color: #525252;
      border-radius: 6px;
      justify-content: center;
      text-align: center;
      display: flex;
      &:hover {
        background-color: #312f2f;
        color: aliceblue;
      }
      &.active {
        background-color: #3c3ce7;
        border-radius: 50px;
        transition: .2s;
      }
    }
    .Space {
      max-width: 480px;
    }
    .Backspace {
      max-width: 130px;
      &.active {
        background-color: #3c3ce7;
        border-radius: 50px;
        transition: 0.1s;
      }
    }
    .Enter {
      max-width: 120px;
    }
    .CapsLock {
      max-width: 140px;
      &.enabled {
        &:after {
          color: #06d006;
        }
      }
      &:after {
        content: '.';
        font-size: 70px;
        margin-top: -70px;
        color: #868686;
      }
    }
    .ShiftLeft {
      max-width: 180px;
    }
    .ShiftRight {
      max-width: 80px;
    }

  }
  .text-style {
    padding-top: 20px;
    font-family: Georgia, serif;
    font-size: 20px;
    color: #3c3ce7;
  }

}